svg .link {
    fill: none;
    stroke: #bbb;
}


.stats-row {
}

.stat-words {
    background-color: #873bc2;
}
.stat-relation {
    background-color: #c27f53;
}
.stat-properties {
    background-color: #69a9c2;
}

.stat-used {
    background-color: #55c259;
}

.header > a {
    color: #FFFFFF;
}
.stats-div {
    margin: 15px;
    color: #FFFFFF;
    padding: 15px;
}

.stats-div > .header {
    line-height: normal;
    font-size: 2rem;
    font-weight: bold;
}

.stats-div > .content {
    line-height: normal;
    font-size: 1rem;
    font-weight: bold;
}

.classes-row {

}

.properties-row {

}

.list-group > .list-group-item {
    border: none;
}

.os-label {
    font-weight: 600;
}

#graphContainer{
    border: 2px solid #e9e9e9;
    height: 300px;

}


#left-toolbar{
    background-color: #e9e9e9;
    padding-top: 1rem;
}

#right-toolbar{
    background-color: #e9e9e9;
}