.mxgraph-container {
  overflow:hidden;
  width: 100%;
  height:1000px;
  background-size: .5cm .5cm;
  background-image: linear-gradient(to right, lightgrey 1px, transparent 1px), linear-gradient(to bottom, lightgrey 1px, transparent 1px);
}