<mat-drawer-container>
  <mat-drawer [ngSwitch]="editMode | async" #navEnd class="mat-drawer nav-right" mode="side" position="end" [opened]="true" class="no-pad"
    disableClose>

    <app-metadata [vocabulary]="vocabulary" *ngSwitchCase="'default'"></app-metadata>
    <ng-container>       
      <app-editbox *ngSwitchCase="'edit'" [selectedClassID]="this.currentSelection" [uriPrefix]="vocabulary.uriPrefix" [vocabID]="this.vocabID"></app-editbox>
      <app-recommender *ngSwitchCase="'recommend'" [vocabID]="this.vocabID"></app-recommender>
      <app-node-creator *ngSwitchCase="'create'" [vocabID]="this.vocabID" [uriPrefix]="vocabulary.uriPrefix" [graphService]="mx"></app-node-creator>
    </ng-container>

    <div class="button-div">
      <div class="pad-1">
        <button *ngSwitchCase="'default'" mat-button (click)="showNodeCreator()">Add new class
        </button>
      </div>

      <div class="pad-1">
        <button *ngSwitchCase="'hidden'" mat-button (click)="showRecommender()">Search Existing class
        </button>
      </div>
    </div>

    <div class="button-div">
      
      <div style="text-align: center;">
        <h3  style="color: white; border-style: dashed;">
          How to edit Property / Class
        </h3>
      </div>
        <br>
        <em>
          On the graph:
        </em>
        <br>
        <ul>
          <li>Click on the arc/arrow for Property form</li>
          <li>Click on the class/node for Class form</li>
        </ul>
    </div>

    <div class="button-div">
      <span (dblclick)="startEdit()" >Domain: </span>
      <div [hidden]="editing"> {{vocabulary? vocabulary.domain: "Specify Domain"}}</div>
      <form style="color:black" (ngSubmit)="editDomain()" [hidden]="!editing">
        <input class="editable" [(ngModel)]="domain" name="domain">
    </form>     
    </div>
    <div class="button-div">
      <div class="pad-1">
        <button *ngSwitchCase="'default'" [hidden]="!batchPhase" mat-button (click)="getBatchRecommendation()">Get BatchRecommendation
        </button>
      </div>
      </div>

      <div class="button-div">
        <div class="pad-1">
          <button *ngSwitchCase="'default'" [hidden]="batchPhase" mat-button (click)="batchrec.liftOntology(); hideBatch()">Lift Ontology
          </button>
        </div>
        </div>
        <div class="button-div">
          <div class="pad-1">
            <button *ngSwitchCase="'default'" [hidden]="batchPhase" mat-button (click)="hideBatch()">Return
            </button>
          </div>
          </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group  headerPosition="below" class="mat-tab-fill-height" [hidden]="!batchPhase">
      <mat-tab label="View &amp; Edit">
        <div class="mxgraph-container" #view></div>
      </mat-tab>
      <mat-tab label="List">
        <app-standardview [classes]="classes">
        </app-standardview>
      </mat-tab>
    </mat-tab-group>

      <app-batchRecommender  [classes]="classes" [recommendations]="recommendations" [hidden]="batchPhase" #batchrec>

      </app-batchRecommender>
  </mat-drawer-content>

</mat-drawer-container>

<!--<dialog #batchrec class="modal">
  <app-batchRecommender  [classes]="classes" [recommendations]="recommendations" #batchrec2>

  </app-batchRecommender>
    <menu>
      <button (click)="batchrec2.test();">Lift</button>
  
      <button id="confirmBtn" (click)="batchrec.close()" value="default">Close</button>
    </menu>
  </dialog>-->