<!-- c.f. https://material.angular.io/components/sidenav/api -->
<mat-drawer-container autosize>
    <mat-drawer #navStart class="mat-drawer" mode="side" position="start" [opened]="false">
        <h3>Auto-resizing sidenav</h3>
        <p *ngIf="true">Lorem, ipsum dolor sit amet consectetur.</p>
        <mat-accordion >
          <mat-expansion-panel [expanded]="true" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Toolbar
              </mat-panel-title>
          </mat-expansion-panel-header>
            <div class="mx-toolbar" id="mx-toolbar"></div>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
    <mat-drawer [ngSwitch]="editMode" #navEnd class="mat-drawer nav-right" mode="side" position="end" [opened]="true" class="no-pad">
      <button mat-button (click)="toggleEditMode()">Click me!</button>
      <app-metadata></app-metadata>
      <div class="toolbar-container">
        <app-infobox *ngSwitchCase="0" [currentMode]="editMode" [inputLabel]="currentLabel" [inputIdentifier]="currentIdentifier" [inputDescription]="currentDescrpition" (onInputLabelUpdated)="updateCurrentLabel($event)" (onEditToggled)="toggleEditMode($event)"></app-infobox>
        <app-editor *ngSwitchCase="1" [inputLabel]="currentLabel" [inputIdentifier]="currentIdentifier" [inputDescription]="currentDescrpition"></app-editor>
      </div>


    </mat-drawer>
    <mat-drawer-content>
        <app-mxgraph></app-mxgraph>
        <button type="button" mat-button (click)="navStart.toggle()">
            Toggle left nav
        </button>
        <button type="button" mat-button (click)="navEnd.toggle()">
          Toggle right nav
        </button>
    </mat-drawer-content>
</mat-drawer-container>
