.mat-drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer {
    background-color: #1f1f1f;
    color: #FFFFFF;
    padding: 1rem;
  }



app-mxgraph {
    width: 800px;
    height: 500px;
    color: red;
  }


.no-pad {
  padding: 0;
}
.sidebar-header {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
  padding: 0 0.5em 0 0.5em ;
}

.mat-drawer-end{
  overflow: visible;
}
.toolbar-container {
  margin-top: 1.2em;
  padding: 0.3em 0.3em 0.3em 0.3em;
}
