# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
app/src/assets/env.js
app/api/env.local.json
app/.angular/cache/
app/api/settings.json
