# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/

chromiumprofile
.vscode
/.project


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
app/src/assets/env.js
app/api/env.local.json
app/api/dist/bundle/.node_version.txt
app/api/dist/bundle/main.js
app/api/dist/bundle/README
app/api/dist/bundle/star.json
app/api/dist/bundle/programs/server/boot-utils.js
app/api/dist/bundle/programs/server/boot-utils.js.map
app/api/dist/bundle/programs/server/boot.js
app/api/dist/bundle/programs/server/boot.js.map
app/api/dist/bundle/programs/server/config.json
app/api/dist/bundle/programs/server/debug.js
app/api/dist/bundle/programs/server/debug.js.map
app/api/dist/bundle/programs/server/mini-files.js
app/api/dist/bundle/programs/server/mini-files.js.map
app/api/dist/bundle/programs/server/npm-rebuild-args.js
app/api/dist/bundle/programs/server/npm-rebuild-args.js.map
app/api/dist/bundle/programs/server/npm-rebuild.js
app/api/dist/bundle/programs/server/npm-rebuild.js.map
app/api/dist/bundle/programs/server/npm-rebuilds.json
app/api/dist/bundle/programs/server/npm-require.js
app/api/dist/bundle/programs/server/npm-require.js.map
app/api/dist/bundle/programs/server/npm-shrinkwrap.json
app/api/dist/bundle/programs/server/package.json
app/api/dist/bundle/programs/server/profile.js
app/api/dist/bundle/programs/server/profile.js.map
app/api/dist/bundle/programs/server/program.json
app/api/dist/bundle/programs/server/runtime.js
app/api/dist/bundle/programs/server/runtime.js.map
app/api/dist/bundle/programs/server/server-json.js
app/api/dist/bundle/programs/server/server-json.js.map
app/api/dist/bundle/programs/server/app/app.js
app/api/dist/bundle/programs/server/app/app.js.map
app/api/dist/bundle/programs/server/app/global-imports.js
app/api/dist/bundle/programs/server/packages/accounts-base.js
app/api/dist/bundle/programs/server/packages/accounts-base.js.map
app/api/dist/bundle/programs/server/packages/accounts-password.js
app/api/dist/bundle/programs/server/packages/accounts-password.js.map
app/api/dist/bundle/programs/server/packages/allow-deny.js
app/api/dist/bundle/programs/server/packages/allow-deny.js.map
app/api/dist/bundle/programs/server/packages/autoupdate.js
app/api/dist/bundle/programs/server/packages/autoupdate.js.map
app/api/dist/bundle/programs/server/packages/babel-compiler.js
app/api/dist/bundle/programs/server/packages/babel-runtime.js
app/api/dist/bundle/programs/server/packages/barbatus_typescript-compiler.js
app/api/dist/bundle/programs/server/packages/barbatus_typescript-compiler.js.map
app/api/dist/bundle/programs/server/packages/barbatus_typescript-runtime.js
app/api/dist/bundle/programs/server/packages/barbatus_typescript-runtime.js.map
app/api/dist/bundle/programs/server/packages/barbatus_typescript.js
app/api/dist/bundle/programs/server/packages/base64.js
app/api/dist/bundle/programs/server/packages/base64.js.map
app/api/dist/bundle/programs/server/packages/binary-heap.js
app/api/dist/bundle/programs/server/packages/binary-heap.js.map
app/api/dist/bundle/programs/server/packages/boilerplate-generator.js
app/api/dist/bundle/programs/server/packages/boilerplate-generator.js.map
app/api/dist/bundle/programs/server/packages/callback-hook.js
app/api/dist/bundle/programs/server/packages/callback-hook.js.map
app/api/dist/bundle/programs/server/packages/check.js
app/api/dist/bundle/programs/server/packages/check.js.map
app/api/dist/bundle/programs/server/packages/ddp-client.js
app/api/dist/bundle/programs/server/packages/ddp-client.js.map
app/api/dist/bundle/programs/server/packages/ddp-common.js
app/api/dist/bundle/programs/server/packages/ddp-common.js.map
app/api/dist/bundle/programs/server/packages/ddp-rate-limiter.js
app/api/dist/bundle/programs/server/packages/ddp-rate-limiter.js.map
app/api/dist/bundle/programs/server/packages/ddp-server.js
app/api/dist/bundle/programs/server/packages/ddp-server.js.map
app/api/dist/bundle/programs/server/packages/ddp.js
app/api/dist/bundle/programs/server/packages/diff-sequence.js
app/api/dist/bundle/programs/server/packages/diff-sequence.js.map
app/api/dist/bundle/programs/server/packages/dynamic-import.js
app/api/dist/bundle/programs/server/packages/ecmascript-runtime-client.js
app/api/dist/bundle/programs/server/packages/ecmascript-runtime-server.js
app/api/dist/bundle/programs/server/packages/ecmascript-runtime.js
app/api/dist/bundle/programs/server/packages/ecmascript.js
app/api/dist/bundle/programs/server/packages/ecmascript.js.map
app/api/dist/bundle/programs/server/packages/ejson.js
app/api/dist/bundle/programs/server/packages/ejson.js.map
app/api/dist/bundle/programs/server/packages/email.js
app/api/dist/bundle/programs/server/packages/es5-shim.js
app/api/dist/bundle/programs/server/packages/fetch.js
app/api/dist/bundle/programs/server/packages/geojson-utils.js
app/api/dist/bundle/programs/server/packages/hot-code-push.js
app/api/dist/bundle/programs/server/packages/id-map.js
app/api/dist/bundle/programs/server/packages/id-map.js.map
app/api/dist/bundle/programs/server/packages/inter-process-messaging.js
app/api/dist/bundle/programs/server/packages/launch-screen.js
app/api/dist/bundle/programs/server/packages/livedata.js
app/api/dist/bundle/programs/server/packages/logging.js
app/api/dist/bundle/programs/server/packages/logging.js.map
app/api/dist/bundle/programs/server/packages/meteor-base.js
app/api/dist/bundle/programs/server/packages/meteor.js
app/api/dist/bundle/programs/server/packages/minifier-css.js
app/api/dist/bundle/programs/server/packages/minifier-css.js.map
app/api/dist/bundle/programs/server/packages/minimongo.js
app/api/dist/bundle/programs/server/packages/minimongo.js.map
app/api/dist/bundle/programs/server/packages/mobile-experience.js
app/api/dist/bundle/programs/server/packages/modern-browsers.js
app/api/dist/bundle/programs/server/packages/modules-runtime.js
app/api/dist/bundle/programs/server/packages/modules.js
app/api/dist/bundle/programs/server/packages/mongo-decimal.js
app/api/dist/bundle/programs/server/packages/mongo-decimal.js.map
app/api/dist/bundle/programs/server/packages/mongo-id.js
app/api/dist/bundle/programs/server/packages/mongo-id.js.map
app/api/dist/bundle/programs/server/packages/mongo.js
app/api/dist/bundle/programs/server/packages/mongo.js.map
app/api/dist/bundle/programs/server/packages/npm-bcrypt.js
app/api/dist/bundle/programs/server/packages/npm-mongo.js
app/api/dist/bundle/programs/server/packages/ordered-dict.js
app/api/dist/bundle/programs/server/packages/ordered-dict.js.map
app/api/dist/bundle/programs/server/packages/promise.js
app/api/dist/bundle/programs/server/packages/random.js
app/api/dist/bundle/programs/server/packages/random.js.map
app/api/dist/bundle/programs/server/packages/rate-limit.js
app/api/dist/bundle/programs/server/packages/rate-limit.js.map
app/api/dist/bundle/programs/server/packages/react-fast-refresh.js
app/api/dist/bundle/programs/server/packages/reactive-var.js
app/api/dist/bundle/programs/server/packages/reload.js
app/api/dist/bundle/programs/server/packages/retry.js
app/api/dist/bundle/programs/server/packages/retry.js.map
app/api/dist/bundle/programs/server/packages/reywood_publish-composite.js
app/api/dist/bundle/programs/server/packages/reywood_publish-composite.js.map
app/api/dist/bundle/programs/server/packages/routepolicy.js
app/api/dist/bundle/programs/server/packages/routepolicy.js.map
app/api/dist/bundle/programs/server/packages/service-configuration.js
app/api/dist/bundle/programs/server/packages/sha.js
app/api/dist/bundle/programs/server/packages/shell-server.js
app/api/dist/bundle/programs/server/packages/shell-server.js.map
app/api/dist/bundle/programs/server/packages/simple_authenticate-user-by-token.js
app/api/dist/bundle/programs/server/packages/simple_json-routes.js
app/api/dist/bundle/programs/server/packages/simple_rest-accounts-password.js
app/api/dist/bundle/programs/server/packages/simple_rest-bearer-token-parser.js
app/api/dist/bundle/programs/server/packages/simple_rest-json-error-handler.js
app/api/dist/bundle/programs/server/packages/simple_rest.js
app/api/dist/bundle/programs/server/packages/socket-stream-client.js
app/api/dist/bundle/programs/server/packages/socket-stream-client.js.map
app/api/dist/bundle/programs/server/packages/srp.js
app/api/dist/bundle/programs/server/packages/srp.js.map
app/api/dist/bundle/programs/server/packages/standard-minifier-css.js
app/api/dist/bundle/programs/server/packages/standard-minifier-js.js
app/api/dist/bundle/programs/server/packages/tracker.js
app/api/dist/bundle/programs/server/packages/tracker.js.map
app/api/dist/bundle/programs/server/packages/underscore.js
app/api/dist/bundle/programs/server/packages/url.js
app/api/dist/bundle/programs/server/packages/webapp-hashing.js
app/api/dist/bundle/programs/server/packages/webapp-hashing.js.map
app/api/dist/bundle/programs/server/packages/webapp.js
app/api/dist/bundle/programs/server/packages/webapp.js.map
app/api/dist/bundle/programs/web.browser/66e5ffa30d778f6e051481d8a1ea46a854be65ed.js
app/api/dist/bundle/programs/web.browser/66e5ffa30d778f6e051481d8a1ea46a854be65ed.stats.json
app/api/dist/bundle/programs/web.browser/program.json
app/api/dist/bundle/programs/web.browser.legacy/143e57b1b8826fe425094e017647f3639d01218e.js
app/api/dist/bundle/programs/web.browser.legacy/143e57b1b8826fe425094e017647f3639d01218e.stats.json
app/api/dist/bundle/programs/web.browser.legacy/program.json
app/api/dist/bundle/server/.bundle_version.txt
