<div *ngFor="let c of (classes | async)">
  <div class="attributes-container"><!-- TODO: add anchor for references -->
    <div class="attribute-container">
      <div class="text"> <span class="label">Class:</span> {{c.name}}</div>
      <span class="uri"><a href="{{c.URI}}"> {{c.URI}} </a></span>
    </div>
    <!--<div class="attribute-container">
      <span class="label"> URI: </span>
      <span class="text"> <a href="{{c.URI}}">{{c.URI}}</a> </span>
    </div>-->
    <div class="attribute-container description">
      <span class="text">  {{c.description}} </span>
    </div>
    <div class="attribute-container properties" *ngIf="c.properties.length >0">
      <!--<span class="label"> Properties: </span>-->
      <div class="text">
        <div class="properties-container" *ngFor="let p of c.properties">
          <div class="text"> <span class="label">Property:</span> {{p.name}}</div>
          <span class="uri"><a href="{{p.URI}}"> {{p.URI}} </a></span>
          <span class="property-range" *ngIf="p.range?.name"><span class="label">Range:</span> <a href="{{p.URI}}"> {{p.range?.name}} </a></span>
          <span class="property-range description" *ngIf="p.range?.description">{{p.range?.description}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider">
</div>
