<div *ngFor="let c of (classes | async)">
  <div class="attributes-container">
    <div class="attribute-container">
      <span class="label"> Class: </span>
      <span class="text"><a href="{{c.URI}}">{{c.name}}</a> </span>
    </div>
    <div class="attribute-container">
      <span class="label"> URI: </span>
      <span class="text"> <a href="{{c.URI}}">{{c.URI}}</a> </span>
    </div>
    <div class="attribute-container">
      <span class="label"> Description: </span>
      <span class="text">  {{c.description}} </span>
    </div>
    <div class="attribute-container" *ngIf="c.properties.length >0">
      <span class="label"> Properties: </span>
      <div class="text">
        <div class="properties-container" *ngFor="let prop of c.properties">
          <span> <a href="{{p.URI}}"> {{p.name}} </a></span>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider">
</div>
