<mat-card class="infobox-card">
  <p class="infobox-header">dcat:Catalog</p>
  <p class="infobox-subheader">http://www.w3.org/ns/dcat#Catalog</p>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Desription
        </mat-panel-title>
      </mat-expansion-panel-header>
      A curated collection of metadata about datasets
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="list-element"> dcat:themeTaxonomy </div>
        <div class="list-element"> dcat:dataset </div>
        <div class="list-element"> dcat:record </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
