<!--<mat-card class="infobox-card">
  <mat-card-header>
    <mat-card-title>Infobox</mat-card-title>
  </mat-card-header>
  <mat-list>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item class="info-box-description">
      <mat-form-field>
        <textarea matInput placeholder="Description" id="infoboxDescription"></textarea>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</mat-card>-->

<mat-card class="infobox-card">
  <p class="infobox-header">Infobox</p>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Namespace
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Range
      </mat-expansion-panel-header>
      This the expansion 2 content
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Description
      </mat-expansion-panel-header>
      This the expansion 2 content
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
