
  <div *ngIf="!loaded" style="padding-top:10rem; text-align:center">
    <nz-spin nzSimple></nz-spin>
    The recommendations are loading...
  </div>
<div *ngIf="recommendations$ | async as recommendations">
<div *ngFor="let r of recommendations; let i = index">
  {{dataLoaded()}}

  {{r.list.length>0?preselect(r.list[0].URI,i):preselectNone(i)}}
  <div class="attributes-container"><!-- TODO: add anchor for references (see standardView.component.html) -->
    <div class="attribute-container">
      <div class="text"> <span class="label">Keyword:</span> <span class="name">{{r.keyword}}</span></div>


      <div *ngFor="let rec of r.list">

          <input id="{{rec.URI}}" [checked]="radioSelected[i]" [value]='rec.URI' type="radio" name="{{rec.URI}}" [(ngModel)]="radioSelected[i]">
          <b> URI: </b> <span class="uri"><a href="{{rec.URI}}"> {{rec.URI}} </a></span> <b> Label: </b><span [innerHTML]="rec.labels[0]?rec.labels[0].label:None"></span> <b> Comment: </b>  <span [innerHTML]="rec.comments[0]?rec.comments[0].label:None"></span> <b> Score: </b> {{rec.score.toFixed(2)}}
  <hr class="divider">
      </div>
      <div>
      <input id="None_{{i}}" [checked]="radioSelected[i]" value='None_{{i}}' type="radio" name="None_{{i}}" [(ngModel)]="radioSelected[i]">
        <b> Keep current node or property.</b>
        </div>
      <hr class="divider">
  <div *ngIf="!r.list.length">
      <b>No recommendations retrieved for this keyword.</b>
  <hr class="divider">
</div>
    </div>
  </div>
  </div>
  