hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #5F5F5F;
  margin: 1em 0;
  padding: 0;
  margin: 0.3em 0em 0.3em 0em;
  width: 100%;
}
.authors {
  word-wrap: break-word;
}
.no-pad {
  padding: 0;
}
.sidebar-header {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: center;
  padding: 0 0.5em 0 0.5em ;
}

.neologism-sidebar-header{
  color: rgb(103, 174, 255);
}

.vocabulary-link{
  display:flex;
  justify-content:center;
  align-items:center;
}

a {
  color: cornflowerblue;
  text-decoration: none;
}

.vocabulary-p-element{
  text-align: center;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
  max-width: 200px;
}


