<div>
  <span class="sidebar-header" style="margin: 4em;
  word-wrap: break-word;">
    <a [routerLink]="['/dashboard']">
      <mat-icon aria-hidden="false" class="v-align-middle" aria-label="Example home icon">home</mat-icon>
      <span class="aligned-with-icon">
        <h1 class="neologism-sidebar-header" style="
        display: inline;">Neologism </h1>
      </span>
    </a>
  </span>
</div>

<div>

  <div>
    <div>
      <hr>
      <span>
        Name: {{vocabulary?.name}}
      </span>
    </div>
    <hr>
    <span>
      URI: <a href="{{vocabulary?.uriPrefix}}">{{vocabulary?.uriPrefix}}</a>

    </span>
    <hr>
    <span>
      Description: {{vocabulary?.description}}
    </span>
    <hr>
    <span class="authors">Authors: {{vocabulary?.authorsEmailAddress}}</span>

  </div>
</div>
<hr>