<form nz-form [formGroup]="validateForm" (ngSubmit)="closeModal()">
  <nz-form-item>

    <nz-form-label nzRequired [nzSpan]="6" nzFor="name"> Name</nz-form-label>
    <nz-form-control [nzSpan]="14">

      <input required #nameEle formControlName="name" nz-input placeholder="Enter the vocabulary name"
        (keyup)="change(nameEle.value)">

    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired [nzSpan]="6" nzFor="uri">URI</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input formControlName="uri" nz-input placeholder="Enter the vocabulary URI">

    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="description">Description</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea nz-input formControlName ="description" placeholder="Describe the vocabulary set..."
        [nzAutosize]="{ minRows: 2, maxRows: 6 }">
      </textarea>
    </nz-form-control>
  </nz-form-item>

  
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Create</button>
        <button nz-button (click)="cancelModal($event)">Cancel</button>
      </nz-form-control>
    </nz-form-item>


</form>