
<ng-container *ngIf="(context$ | async) as vocabularies">

<nz-table #basicTable [nzData]="[1,2]" *ngIf="vocabularies.length > 0; else noVocabsListes ">
  <thead>
    <th>Name</th>
    <th>Contributers</th>

  </thead>
  <tbody>
    <tr  style="background-color: #fff" class="vocabulary-row" *ngFor="let vocab of vocabularies">
      
      <td>{{vocab.name}}</td>
      <td>
        <div style="max-width: 100px;">
          <nz-avatar *ngFor="let author of vocab.authors" 
            nzTitle={{this.vocabService.getEmailAddress(author)}}
            nzPlacement="top" 
            nz-tooltip 
            nzIcon="user" >
          </nz-avatar>
        </div>
      </td>
      <td>
            <button 
                class="actn-btn" 
                nz-button 
                nzTitle="Add User" 
                nzPlacement="top" 
                nz-tooltip 
                nzType="default" 
                (click)="addPersonToVocab(vocab._id)"
                nzShape="circle">
              <i nz-icon type="user-add"></i>
            </button>

            <button 
                class="actn-btn" 
                nzTitle="Delete Vocabulary" 
                nzPlacement="top" 
                nz-tooltip nz-button 
                nzType="default"
                (click)="deleteVocabulary(vocab._id)"
                nzShape="circle">

              <i nz-icon style="color: red" type="delete"></i>
            </button>
            
            <button 
                class="actn-btn" 
                nz-button 
                nzType="default"
                nzTitle="Edit Vocabulary" 
                nzPlacement="top" 
                nz-tooltip
                (click)="editVocabulary(vocab._id)"
                nzShape="circle">
              <i nz-icon style="color: green" type="edit"></i>
            </button>

            <button 
                class="actn-btn" 
                nz-button 
                nzType="default"
                nzTitle="Download Vocabulary" 
                nzPlacement="top" 
                nz-tooltip
                (click)="downloadVocab(vocab._id, vocab.name)"
                nzShape="circle">
              <i nz-icon style="color: lightslategray" type="download"></i>
            </button>

            <button 
                class="actn-btn" 
                nz-button 
                nzType="default" 
                nzTitle="Open Editor" 
                nzPlacement="top" 
                nz-tooltip
                (click)="openVocabulary(vocab._id)"
                nzShape="circle">
              <i nz-icon type="arrow-right"></i>
            </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- <ng-template #noVocabsListes>
  
</ng-template> -->

</ng-container>