<mat-card class="editbox-card">
  <form class="example-form">
    <input #labelInput class="label-input" placeholder="" value="" (keyup.enter)="sendInputLabel()">
    <!-- <input #labelInput class="label-input" placeholder="" value="{{inputLabel}}" (keyup.enter)="sendInputLabel()"> -->
  </form>
  <!--<p class="editbox-subheader">{{inputIdentifier}}</p>-->
  <div class="recommender-outer-wrapper">
    <mat-grid-list cols="1" rowHeight="4:1" class="recommender-inner-wrapper">
      <mat-grid-tile class="recommendation-tile-wrapper recommendation-result"
                     *ngFor="let recommendation of recommendations" matTooltip="{{recommendation.comment}}"
                     (click)="selectRecommendation(recommendation)"
                     [class.selected]="recommendation === selectedRecommendation">
        <div class="label-name">
          <p class="no-margin">
            {{recommendation?.label}}
          </p>
        </div>
        <br>
        <div class="uri-name no-margin">
          <p class="no-margin">
            <a class="uri-link" href="{{recommendation.uri}}" target="_blank">{{recommendation.uri}}</a>
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="recommendation-tile-wrapper" *ngIf="showSpinner;else no_result">
        <mat-spinner [diameter]="40"></mat-spinner>
      </mat-grid-tile>
      <ng-template #no_result>
        <mat-grid-tile class="recommendation-tile-wrapper">
          <span class="no-recommandation-span">No recommandations found</span>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>
  </div>

  <!-- <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header> -->
  <mat-panel-title>
    Description
  </mat-panel-title>
  <!-- </mat-expansion-panel-header> -->
  <textarea class="description-textarea" disabled=true>{{selectedRecommendation?.comment}}</textarea>
  <!-- <textarea class="description-textarea">{{inputDescription}}</textarea> -->
  <!-- </mat-expansion-panel> -->
  <!-- <mat-expansion-panel>
      <mat-expansion-panel-header> -->
  <mat-panel-title>
    Properties
  </mat-panel-title>
  <!-- </mat-expansion-panel-header> -->
  <!-- <div class="list-element" *ngFor="let rec of propertyRecommendations"> {{rec?.uri}} </div> -->

  <div class="properties-outer-wrapper">
        <mat-expansion-panel *ngFor="let rec of propertyRecommendations" style="padding:0;margin:0;">
          <mat-expansion-panel-header *ngIf="rec.label">
            <mat-panel-title>
              {{rec.label}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!--div *ngIf="rec.label" ><p class="properties-label">Label:</p> <p class="properties-text">{{rec.label}}</p></div-->
          <div class="properties-line" *ngIf="rec.uri"><p class="properties-label ">URI:</p><a href="{{rec.uri}}" class="properties-text uri-link"> {{rec.uri}}</a></div>
          <div class="properties-line" *ngIf="rec.range"><p class="properties-label">Range:</p> <a href="{{rec.range}}" class="properties-text uri-link"> {{rec.range}}</a></div>
          <div class="properties-line" *ngIf="rec.comment"><p class="properties-label ">Comment:</p> <p class="properties-text"> {{rec.comment}}</div>

        </mat-expansion-panel>
        <!--div matLine *ngIf="rec.label" matTooltip="{{rec.label}}"><p class="properties-label">Label:</p> <p class="properties-text">{{rec.label}}</p></div>
        <div matLine *ngIf="rec.uri" matTooltip="{{rec.uri}}"><p class="properties-label">URI:</p> <p class="properties-text"> {{rec.uri}}</div>
        <div matLine *ngIf="rec.comment" matTooltip="{{rec.comment}}"><p class="properties-label">Comment:</p> <p class="properties-text"> {{rec.comment}}</div>
        <div matLine *ngIf="rec.range" matTooltip="{{rec.range}}"><p class="properties-label">Range:</p> <p class="properties-text"> {{rec.range}}</div-->
        <hr>
  </div>

  <!-- </mat-expansion-panel> -->
  <!-- </mat-accordion> -->
  <hr>
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile class="button-tile">
      <button mat-raised-button class="btn-green" (click)=addToGraph() [disabled]="!isSelectedRecommendationVisible" >Add</button>
    </mat-grid-tile>
    <!-- <mat-grid-tile class="button-tile">
      <button mat-raised-button color="warn">Cancel</button>
    </mat-grid-tile> -->
  </mat-grid-list>
</mat-card>
