<div class="mat-drawer1">
    <nz-page-header (nzBack)="resetSidebarState()" style="padding: 0!important;" nzBackIcon>

      <nz-avatar nz-page-header-avatar    nzSrc="../../../assets/default_node_image.gif">
      </nz-avatar>
      <nz-page-header-title> 
        <h3 class="sidebar-header neologism-sidebar-header" style="
        display: inline; white-space:pre-wrap;">
          Add Your Class
        </h3>
      </nz-page-header-title>
    
  </nz-page-header>
  <div class="editbox-container">
    <form nz-form [formGroup]="createClassForm" (ngSubmit)="addClass()" >
      <div class="class-details">
        <div class="top">
       
          <div class="name-plus-uri ">
              <nz-form-item class="full-width name">
                <nz-form-label  nzFor="name">Class Name</nz-form-label><br>
                <nz-form-control >
              <input class="form-control" type="text" nz-input nzRequired placeholder="Class Name"
              (keyup)="autoCompleteURI($event);checkWord(createClassForm.get('name').value)" formControlName="name" #name [nzAutocomplete]="auto">
      <nz-autocomplete nzBackfill #auto>
<nz-auto-option *ngFor="let option of suggestions" [nzValue]="option" [nzLabel]="option">
          {{ option }}
        </nz-auto-option>
        
      </nz-autocomplete>
              <nz-form-explain *ngIf="createClassForm.get('name')?.dirty && createClassForm.get('name').hasError('required')">
                Class Name is required
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
    
              <nz-form-item class="full-width uri">
                <nz-form-label nzFor="uri">Class URI</nz-form-label><br>
                <nz-form-control >
              <input nz-input class="form-control" placeholder="uri" nzRequired formControlName="URI" readonly disabled>
              <nz-form-explain *ngIf="createClassForm.get('URI').hasError('invalidURI')">
                URI is already in <strong>USE</strong>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          </div>
        </div>
        <div class="bottom">
          <nz-form-item class="full-width">
            <nz-form-label nzFor="description">Description</nz-form-label><br>
            <nz-form-control>
              <textarea placeholder="Description" nz-input rows="2" class="description form-control"
              formControlName="description"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="button-full-width">
        <nz-form-item nz-row >
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button type="submit" nz-button nzType="primary"  [disabled]="!createClassForm.valid"
        >Add Class</button>
      </nz-form-control>
    </nz-form-item>
      </div>
    </form>
  </div>
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>