<div class="mat-drawer1">
    <nz-page-header (nzBack)="resetSidebarState()" style="padding: 0!important;" nzBackIcon>

      <nz-avatar nz-page-header-avatar    nzSrc="../../../assets/default_node_image.gif">
      </nz-avatar>
      <nz-page-header-title> 
        <h3 class="sidebar-header neologism-sidebar-header" style="
        display: inline; white-space:pre-wrap;">
          Add Your Class
        </h3>
      </nz-page-header-title>
    
  </nz-page-header>
  <div class="editbox-container">
    <form nz-form [formGroup]="createClassForm" (ngSubmit)="addClass()" >
      <div class="class-details">
        <div class="top">
        <div class="name-plus-uri ">
          <mat-form-field class="full-width name">
            <input class="form-control" type="text" matInput [matAutocomplete]='auto' placeholder="Class Name"
            (keyup)="autoCompleteURI($event); checkWord(createClassForm.get('name').value)" formControlName="name" #name >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let s of suggestions" [value]="s">
                {{s}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="createClassForm.get('name').hasError('required')">
              Class Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width uri">
            <input matInput class="form-control" placeholder="uri" formControlName="URI" readonly disabled>
            <mat-error *ngIf="createClassForm.get('URI').hasError('invalidURI')">
              URI is already in <strong>USE</strong>
            </mat-error>
          </mat-form-field>
        <div class="bottom">
          <nz-form-item class="full-width">
            <nz-form-label nzFor="description">Description</nz-form-label><br>
            <nz-form-control>
              <textarea placeholder="Description" nz-input rows="2" class="description form-control"
              formControlName="description"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="button-full-width">
        <nz-form-item nz-row >
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button type="submit" nz-button nzType="primary"  [disabled]="!createClassForm.valid"
        >Add Class</button>
      </nz-form-control>
    </nz-form-item>
      </div>
  </div>
</div>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>