<mat-toolbar color="secondary">
  <span>Add Class</span>
  <span class="editor-toolbar-spacer"></span>

  <button (click)="resetSidebarState()" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="editbox-container no-pad">
  <form [formGroup]="createClassForm" (ngSubmit)="addClass()" >
    <div class="class-details">
      <div class="top">
        <div class="img">
          <img src="../../../assets/default_node_image.gif" />
        </div>
        <div class="name-plus-uri ">
          <mat-form-field class="full-width name">
            <input class="form-control" type="text" matInput [matAutocomplete]='auto' placeholder="Class Name"
            (keyup)="autoCompleteURI($event); checkWord(createClassForm.get('name').value)" formControlName="name" #name >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let s of suggestions" [value]="s">
                {{s}}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="createClassForm.get('name').hasError('required')">
              Class Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width uri">
            <input matInput class="form-control" placeholder="uri" formControlName="URI" readonly disabled>
            <mat-error *ngIf="createClassForm.get('URI').hasError('invalidURI')">
              URI is already in <strong>USE</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="bottom">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description" class="description form-control"
          formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="button-full-width">
      <button type="submit" mat-raised-button color="primary"  [disabled]="!createClassForm.valid"
      >Add Class</button>
    </div>
  </form>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>