@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/*
 Allow tab groups to fill the entire vertical space
 Use via class-membership: mat-tab-fill-height
*/
.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
    flex: 1 1 100%;
 }

 .toolbar{
    -webkit-box-shadow: 0px 10px 32px 3px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 10px 32px 3px rgba(0,0,0,0.86);
    box-shadow: 0px 10px 32px 3px rgba(0,0,0,0.86);
    background-color: #fff;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
 }