.add-vocab-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.add-vocab-container .vobab-form-cell {
  padding-right: 1rem;
  width: calc(25% - 1rem);
}
.add-vocab-container button.vobab-form-cell {
  margin-bottom: 1rem;
}

.add-vocab-container h3 {
  width: 100%;
}

