@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-tab-group {
    height: 100%;
}

.mat-tab-body-wrapper {
    flex-grow: 1 !important;
    height: 100%;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}