@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.mat-tab-group.mat-tab-fill-height .mat-tab-body-wrapper {
    flex: 1 1 100%;
 }

/* .mat-tab-group {
   height: 100%;
}

.mat-tab-body-wrapper {
    flex-grow: 1 !important;
    height: 100%;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */