<nz-layout>
  <nz-sider [ngSwitch]="editMode | async" [nzWidth]="350" class="mat-drawer">

    <app-metadata [vocabulary]="vocabulary" *ngSwitchCase="'default'">

    </app-metadata>

    <app-editbox *ngSwitchCase="'edit'" [selectedClassID]="this.currentSelection" [uriPrefix]="vocabulary.uriPrefix"
      [vocabID]="this.vocabID">
    </app-editbox>

    <app-recommender *ngSwitchCase="'recommend'" [vocabID]="this.vocabID">

    </app-recommender>

    <app-node-creator *ngSwitchCase="'create'" [vocabID]="this.vocabID" [uriPrefix]="vocabulary.uriPrefix"
      [graphService]="mx">
    </app-node-creator>


    <div *ngSwitchCase="'default'">
      <div class="button-div">
        <div class="pad-1">
          <button *ngIf="batchPhase" nz-button (click)="showNodeCreator()">Add new class
          </button>
        </div>
        <button *ngIf="batchPhase" mat-button (click)="getBatchRecommendation(); batchrec.return()">Get
          BatchRecommendation
        </button>

        <nz-row *ngIf="batchPhase">
          <span style="padding-top: 1rem;">Recommendation Limit:</span>
          <nz-col nzSpan="16">
            <nz-slider [nzMin]="1" [nzMax]="10" [(ngModel)]="recommendationLimit"></nz-slider>
          </nz-col>
          <div nz-col nzSpan="4">
            <nz-input-number [nzMin]="1" [nzMax]="10" [ngStyle]="{ marginLeft: '16px' }"
              [(ngModel)]="recommendationLimit"></nz-input-number>
          </div>
        </nz-row>

        <div class="pad-1" *ngIf=!batchPhase>
          <button mat-button (click)="batchrec.liftOntology(); hideBatch()">Lift Ontology
          </button>
        </div>
        <button *ngIf="!batchPhase" mat-button (click)="hideBatch()">Return
        </button>

        <button *ngSwitchCase="'hidden'" nz-button (click)="showRecommender()">Search Existing class
        </button>
      </div>



      <div class="button-div" *ngIf="batchPhase">

        <div style="text-align: center;">
          <h3 style="color: white; border-style: dashed;">
            How to edit Property / Class
          </h3>
        </div>
        <br>
        <em>
          On the graph:
        </em>
        <br>
        <ul>
          <li>Click on the arrow for Property form</li>
          <li>Click on the class/node for Class form</li>
        </ul>
      </div>


      <div class="button-div" style="display:flex">
        <span style="padding-right: 1rem">Domain: </span>

        <div [hidden]="editing"> {{vocabulary? vocabulary.domain: ""}}</div>

        <form style="color:black" (ngSubmit)="editDomain()" [hidden]="!editing">
          <input class="editable" [(ngModel)]="domain" name="domain">
        </form>
        <div class="edit-icon-wrapper" (click)="startEdit()" *ngIf="!editing">
          <mat-icon class="edit-icon">
            create
          </mat-icon>
        </div>
      </div>
    </div>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <mat-tab-group [hidden]="!batchPhase" headerPosition="below" class="mat-tab-fill-height">
        <mat-tab label="View &amp; Edit">
          <div class="mxgraph-container" #view></div>

        </mat-tab>
        <mat-tab label="List">
          <app-standardview [classes]="classes">
          </app-standardview>
        </mat-tab>
      </mat-tab-group>
      <app-batchRecommender [classes]="classes" [recommendations]="recommendations" [hidden]="batchPhase" #batchrec>
      </app-batchRecommender>

    </nz-content>

  </nz-layout>
</nz-layout>


<dialog #dEmptyGraph class="modal">
  <p>
    Your graph seems empty! want to create a new class

  </p>
  <menu>
    <button nz-button nzType="primary" id="confirmBtn" (click)="showNodeCreator();dEmptyGraph.close()"
      value="default">Take me</button>
    <button nz-button nzType="primary" (click)="dEmptyGraph.close();">Skip!, I will explore</button>


  </menu>
</dialog>
<ng-template #loading>Loading User Data...</ng-template>