
<nz-layout>
  <nz-sider [ngSwitch]="editMode | async" [nzWidth]="350" style="height: 100vh;" class="mat-drawer">
    <app-metadata [vocabulary]="vocabulary" *ngSwitchCase="'default'"></app-metadata>
      <app-editbox *ngSwitchCase="'edit'" [selectedClassID]="this.currentSelection" [uriPrefix]="vocabulary.uriPrefix" [vocabID]="this.vocabID"></app-editbox>
      <app-recommender *ngSwitchCase="'recommend'" [vocabID]="this.vocabID"></app-recommender>
      <app-node-creator *ngSwitchCase="'create'" [vocabID]="this.vocabID" [uriPrefix]="vocabulary.uriPrefix" [graphService]="mx"></app-node-creator>
    <div *ngSwitchCase="'default'">
    <div class="button-div">
      <div class="pad-1">
        <button mat-button (click)="showNodeCreator()">Add new class
        </button>
      </div>

      <div class="pad-1">
        <button *ngSwitchCase="'hidden'" mat-button (click)="showRecommender()">Search Existing class
        </button>
      </div>
    </div>

    
      <div class="button-div">
      
        <div style="text-align: center;">
          <h3  style="color: white; border-style: dashed;">
            How to edit Property / Class
          </h3>
        </div>
          <br>
          <em>
            On the graph:
          </em>
          <br>
          <ul>
            <li>Click on the arc/arrow for Property form</li>
            <li>Click on the class/node for Class form</li>
          </ul>
      </div>
      <div id="ctrl-zoom">
        <div class="pad-1">
          <button mat-button (click)="zoomin()"> Zoom In</button>
          
        </div>
        <div class="pad-1">
          <button  mat-button (click)="zoomout()"> Zoom Out</button>
        </div>
        <div class="pad-1">
          <button  mat-button (click)="zoomreset()"> Reset</button>
        </div>
      </div>
    </div>
   
  </nz-sider>
  <nz-layout style="padding:0 24px 24px">
    <!-- <nz-content> -->
        <!-- <nz-tabset>
          <nz-tab label="View &amp; Edit" [nzTitle]="'View &amp; Edit'">
            <div class="mxgraph-container" #view></div>
          </nz-tab>
          <nz-tab label="List" [nzTitle]="'List'">
            <app-standardview [classes]="classes">
            </app-standardview>
          </nz-tab>
  
        </nz-tabset> -->
     
      <mat-tab-group headerPosition="below" class="mat-tab-fill-height">
        <mat-tab label="View &amp; Edit">
      <div class="mxgraph-container" #view></div>
        
        </mat-tab>
        <mat-tab label="List">
          <app-standardview [classes]="classes">
          </app-standardview>
        </mat-tab>
      </mat-tab-group>
    <!-- </nz-content> -->
  </nz-layout>
</nz-layout>

<!-- <div style="margin-bottom: 16px;">
  Tab position：
  <nz-select [(ngModel)]="position" style="width: 80px;">
    <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value"> </nz-option>
  </nz-select>
</div> -->


<dialog #dEmptyGraph class="modal">
  <p>
    Your graph seems empty! want to create a new class

  </p>
  <menu>
    <button id="confirmBtn" (click)="showNodeCreator();dEmptyGraph.close()" value="default">Take me</button>
    <button (click)="dEmptyGraph.close();">Skip!, I will explore</button>


  </menu>
</dialog>