
<ng-container *ngIf="(context$ | async) as vocabularies">

<nz-table #basicTable  [nzData]="[1,2]" *ngIf="vocabularies.length > 0; else noVocabsListes ">
  <thead>
    <th>Name</th>
    <th>Contributors</th>

  </thead>
  <tbody>
    <tr  style="background-color: #fff" class="vocabulary-row" *ngFor="let vocab of vocabularies">
      
      <td>{{vocab.name}}</td>
      <td>
        <div style="max-width: 100px;">
          <nz-avatar *ngFor="let author of vocab.authors" 
            nzTooltipTitle={{this.vocabService.getEmailAddress(author)}}
            nzTooltipPlacement="top" 
            nz-tooltip 
            nzIcon="user" >
          </nz-avatar>
        </div>
      </td>
      <td>
            <button *ngIf="loggedInUser._id===vocab.creator"
                class="actn-btn" 
                nz-button 
                nzTooltipTitle="Add Contributor" 
                nzTooltipPlacement="top" 
                nz-tooltip 
                nzType="default" 
                (click)="addPersonToVocab(vocab._id)"
                nzShape="circle">
              <i nz-icon  nzType="user-add"></i>
            </button>

            <button *ngIf="loggedInUser._id===vocab.creator"
                class="actn-btn" 
                nzTooltipTitle="Delete Vocabulary" 
                nzTooltipPlacement="top" 
                nz-tooltip nz-button 
                nzType="default"
                (click)="deleteVocabulary(vocab._id)"
                nzShape="circle">

              <i nz-icon style="color: red" nzType="delete"></i>
            </button>
            
            <button *ngIf="loggedInUser._id===vocab.creator"
                class="actn-btn" 
                nz-button 
                nzType="default"
                nzTooltipTitle="Edit Vocabulary" 
                nzTooltipPlacement="top" 
                nz-tooltip
                (click)="editVocabulary(vocab._id)"
                nzShape="circle">
              <i nz-icon style="color: green" nzType="edit"></i>
            </button>
            <button  *ngIf="loggedInUser._id===vocab.creator"
            class="actn-btn" 
            nz-button 
            nzType="default" 
            nzTooltipTitle="Remove Contributor" 
            nzTooltipPlacement="top" 
            nz-tooltip
            (click)="removePersonFromVocab(vocab._id)"
            nzShape="circle">
            <i nz-icon  nzType="user-delete" nzTheme="outline"></i>
        </button>
            <button 
                class="actn-btn" 
                nz-button 
                nzType="default"
                nzTooltipTitle="Download Vocabulary" 
                nzTooltipPlacement="top" 
                nz-tooltip
                (click)="downloadVocab(vocab._id, vocab.name)"
                nzShape="circle">
              <i nz-icon style="color: lightslategray" nzType="download"></i>
            </button>

            <button 
                class="actn-btn" 
                nz-button 
                nzType="default" 
                nzTooltipTitle="Open Editor" 
                nzTooltipPlacement="top" 
                nz-tooltip
                (click)="openVocabulary(vocab._id)"
                nzShape="circle">
              <i nz-icon  nzType="arrow-right"></i>
            </button>

            <button  *ngIf="!vocab.creator"
            class="actn-btn" 
            nz-button 
            nzType="default" 
            nzTooltipTitle="Become a creator?" 
            nzTooltipPlacement="top" 
            nz-tooltip
            (click)="becomeCreator(vocab._id)"
            nzShape="circle">
            <i nz-icon  nzType="user" nzTheme="outline"></i>
        </button>

       
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #noVocabsListes>
  
</ng-template>

</ng-container>
