<div [ngStyle]="{'width': width}">
  <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixIconButton">
    <input placeholder="Search vocabulary by name" nz-input [(ngModel)]="inputValue" (input)="onChange($event)"
      [nzAutocomplete]="auto" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch><i nz-icon type="search" theme="outline"></i></button>
  </ng-template>
  <nz-autocomplete nzBackfill #auto>
    <nz-auto-option *ngFor="let vocab of vocabs" [nzValue]="vocab._id">

      <a [routerLink]="['/edit/'+ vocab._id]">
        {{vocab.name}}
      </a>
    </nz-auto-option>
  </nz-autocomplete>
</div>