<nz-layout class="home-db-lyt-ctnr">
  <!-- SIDEBAR   -->
  <nz-sider style="background: #fff; padding:0;" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">

    <img class="logo-fit" src="/assets/neologism.png"/>

    <ul nz-menu style="margin-top: 15px;" [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">{{username}}</span></span>
        <ul>
          <li nz-menu-item>Settings</li>
          <li nz-menu-item (click)="onLogout()">Logout</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <!-- HEADER -->
     <nz-header style="background: #fff; padding:0;">
      <search-vocabularies-autocomplete [width]="'50vw'"></search-vocabularies-autocomplete>
      
      <ul nz-menu [nzMode]="'horizontal'" style="position: fixed; top: 2px; right: 15px; ">
        <li nz-submenu>
          <span title><i nz-icon type="setting"></i></span>
          <ul>
            <li nz-menu-group>
              <span title>Item 1</span>
              <ul>
                <li nz-menu-item>Option 1</li>
                <li nz-menu-item>Option 2</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
     <!-- <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i> -->
    </nz-header> 
    

    <!-- Main Content HEADER -->
    <nz-content style=" margin:0 16px">
        <!-- Temporarily breadcrumbs are disabled as found no need  -->
      <!-- <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>{{ user }}</nz-breadcrumb-item>
      </nz-breadcrumb> -->

      <!-- Main Content Content -->
      <div style="padding:24px;">
        <app-vocabulary-list></app-vocabulary-list>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Neologism - 2020</nz-footer>
  </nz-layout>
</nz-layout>

<button 
  class="add-vcblry-frm" 
  nz-button nzType="primary" 
  [nzSize]="'large'" 
  (click)="createVocabulary()"
  nzShape="circle"><i nz-icon type="plus"></i>
</button>
