<h1 class="sidebar-header neologism-sidebar-header">Neologism</h1>
<hr>
<hr>
<h3 class="sidebar-header">{{vocabularyName}}</h3>
<hr>
<div class="vocabulary-link">
  <div>
    <a href="{{vocabularyHref}}">{{vocabularyLinkText}}</a>
  </div>
</div>
<hr>
<p class="vocabulary-p-element">{{versionString}}</p>
<hr>
<p class="vocabulary-p-element authorlist">

  <span *ngIf="authors.length == 1">Author: {{authors[0]}}</span>
  <span *ngIf="authors.length == 2">Authors: {{authors[0]}}, {{authors[1]}}</span>
  <span *ngIf="authors.length == 3">Authors: {{authors[0]}}, {{authors[1]}}, {{authors[2]}}</span>
  <div *ngIf="authors.length > 3">
    <div *ngIf="this.collapsed">
        <span>Authors: {{authors[0]}}, {{authors[1]}}, {{authors[2]}}, ... <a href="#" (click)="this.collapsed=false" >(more)</a></span>
    </div>
    <div *ngIf="!this.collapsed">
        Authors:
        <span *ngFor="let author of authors.slice(0, 1)">{{author}}</span>
        <span *ngFor="let author of authors.slice(1, -1)">, {{author}}</span>
        <a href="#" (click)="this.collapsed=true" >(less)</a>
    </div>
  </div>
<hr>
