<mat-card class="infobox-card">
  <form class="example-form">
      <input #labelInput class="label-input" placeholder="" value="{{inputLabel}}" (input)="sendInputLabel()">
  </form>
  <p class="infobox-subheader">{{inputIdentifier}}</p>
  <mat-grid-list cols="1" rowHeight="4:1" class="recommender-wrapper">
    <mat-grid-tile class="recommendation-tile" *ngIf="showSpinner;else no_result">
      <mat-spinner [diameter]="40" ></mat-spinner>
    </mat-grid-tile>
    <ng-template #no_result>
      <mat-grid-tile class="recommendation-tile" >
        <span class="no-recommandation-span">No recommandations found</span>
      </mat-grid-tile>
    </ng-template>
  </mat-grid-list>
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Desription
        </mat-panel-title>
      </mat-expansion-panel-header>
        <textarea class="description-textarea">{{inputDescription}}</textarea>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="list-element"> dcat:themeTaxonomy </div>
      <div class="list-element"> dcat:dataset </div>
      <div class="list-element"> dcat:record </div>
    </mat-expansion-panel>
  </mat-accordion>
  <hr>
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile class="button-tile"><button mat-raised-button class="btn-green" style="color:#FFFFFF">Save</button></mat-grid-tile>
    <mat-grid-tile class="button-tile"><button mat-raised-button color="warn">Cancel</button></mat-grid-tile>
  </mat-grid-list>
</mat-card>
